{% extends "_base.html" %}

{% block title %}Minhas anotações{% endblock title %}

{% block content %}

    <h1>Minhas anotações</h1>

    <a href="{% url "notes:create" %}">Nova anotação</a>

    <form method="get">
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Pesquisar por anotação">
    </form>

    <ul>
        {% for note in notes %}
            <li>
                {{ note }} -
                <a href="{% url "notes:update" note.id %}">Editar</a> -
                <a href="{% url "notes:delete" note.id %}">Excluir</a> -
                <a href="{% url "notes:detail" note.id %}">Visualizar</a>
            </li>
        {% empty %}
            <li>Nenhuma anotação encontrada.</li>
        {% endfor %}
    </ul>

    {% include "partials/pagination.html" with page_obj=notes %}

{% endblock content %}